{% extends "layouts/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<!-- Page Content-->
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Login</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">

            <div class="wrapper fadeInDown">
                <div id="formContent">
                  <!-- Tabs Titles -->
            
              
                  <!-- Login Form -->
                  <form action="" method="post">
                    {% csrf_token %}
                    <input type="text" id="login" name="username" placeholder="usuario">
                    <input type="password" id="password" name="password" placeholder="password">
                    <input type="submit" value="Log In">
                  </form>
              
                  <!-- Remind Passowrd -->
                  <div id="formFooter">
                    <a class="underlineHover" href="#">Forgot Password?</a>
                  </div>
              
                </div>
            </div>     

        </div>
    </div>
</div>
</main>
</body>

{% endblock %}